.cart-item {
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 8px;
    .product-img {
        width: 77px;
        height: 77px;
    }
    .product-info {
        .product-title {
            font-weight: 300;
            color: $blackColor;
        }
        .product-price {
            font-weight: 500;
            color: #000;
            margin: 8px 0;
        }
        .remove-btn {
            color: $whiteColor;
            background-color: red;
            border-radius: 8px;
            font-size: 10px;
        }
    }
    .amount-box {
        text-align: center;
        .amount {
            padding: 8px;
            color: $blackColor;
        }
    }
}
