ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

%centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid {
    width: 100%;
    height: auto;
    object-fit: cover;
}
